@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

.main_title{
    text-align: center;
    margin-top: 2.5%;
    font-family: 'Quicksand', sans-serif;}
     

.finding_form{
    margin-top: 2.5%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;

}

.finding_form form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.finding_form form input {
    width: 35%;
    padding: 10px;
    border-radius: 50px;
    border-color: rgb(122, 122, 122);
    border-style: solid;

}

.finding_form form .submit{
    width: 20%;
}

.display_etape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display_etape h3{
    font-family: 'Bebas Neue';
}

.display_etape ul{
    font-family: 'Tajawal';
    margin-top: auto;
    margin-bottom:auto;
    text-align: left;
}
.display_map_etape{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 90% ;
}

.box_map{
    margin-left: 5%;
    width: 55%;
}

.etape{
    display: flex;
          flex-direction: column;
          margin-left: 5%;
          width: 35%;
}

@media (max-width:1100px){
    .display_map_etape{
        flex-direction: column;
    }
    .box_map{
        width: 90%; 
    }
    .etape{
        width: 90%;
    }
}



#map {
    width: 100%;
    height: 650px;

}



.finding_parametre{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    margin-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid grey;


}

.finding_parametre h3{
    font-family: 'Quicksand';
}

.finding_parametre #settings{
    width: 15%;
    padding-top: 5px;
    padding-bottom: 6px;
    border: 2px solid rgb(94, 94, 223);
    border-radius: 50px;
    background-color: white;
    color: rgb(94, 94, 223);
    font-family: 'Quicksand';

}
.finding_parametre #settings:hover{
    width: 15%;
    padding-top: 5px;
    padding-bottom: 6px;
    border: 2px solid rgb(94, 94, 223);
    background-color: rgb(94, 94, 223);
    color: white;
    font-family: 'Quicksand';
}

#form_param{
    display: none;
    flex-direction: row;
    margin-top: 1%;
}

/* #form_param input{
    width: 35%;
    padding: 5px;
    padding: 6px;
    margin-left: 2%;
    border-radius: 50px;
    border-color: rgb(122, 122, 122);
    border-style: solid;
} */

.status{
    margin-left: 10%;
    font-family: 'Bebas Neue';
    font-size: large;
}

#choix_vehicule{
    margin-left: 10%;
}

#choix_vehicule h3{
    font-family: 'Quicksand';
}

#choix_vehicule select{
    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid rgb(94, 94, 223) ;
    border-radius: 50px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    color: rgb(94, 94, 223);

}

#choix_vehicule select:hover{
    background-color: rgb(94, 94, 223);
    color: white;
}
.autonomie_initale{
    border: 1px solid black;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.autonomie_initale .autonomie{
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.autonomie_initale h3{
    margin-left: 2.5%;
    text-decoration: underline;
}

.autonomie_initale .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.autonomie_initale .box_slider{
    width: 50%;
}

.autonomie_initale .box_slider .slider{
    width: 90%;
}

.limiteur_autonomie{
    margin-left: 2.5%;
    width: 27.5%;
    border: 1px solid black;
}

.limiteur_autonomie h3{
    margin-left: 5%;
    text-decoration: underline;
}

.limiteur_autonomie .autonomie{
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.limiteur_autonomie .autonomie p{
    width : 90%;
    text-align: center;
}

.limiteur_autonomie .autonomie input{
    width : 60%;
}

.temps_max{
    width: 27.5%;
    margin-left: 2.5%;
    border: 1px solid black;
}

.temps_max h3{
    margin-left: 2.5%;
    text-decoration: underline;
}
.temps_max .temps{
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

.temps_max .temps p{
    display: none;
}

.temps_max .temps #input_limit_temps{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    width: 90%;
    text-align: right;
}

.info_trajet{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
    min-height: fit-content;
    width: 90%;
}

.info_trajet .sous-titre{
    font-family: 'Bebas Neue';
    font-size: xxx-large;
    margin-right: 2%;
    margin: 0;
    
}

.info_trajet p{
    font-family: 'Quicksand';
    font-weight: lighter;
    margin-right: 2%;
    margin-left: 2%;

}

.distance_depart_arrivee{
    font-family: 'Quicksand';
}