<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/simulation.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>

    <title>Mode Simulation</title>
</head>
<body>
    <div class="box_title">
        <div></div>
        <h1 class="main_title">FindMyWay - Mode Simulation</h1>
        <div><a href="/">Mode itinéraire</a></div>
    </div>
    <form action="/simulation" method="post" class="form_simulation" id="f_simulation">
        <input class="submit_simulation" type="submit" value="Générer" id="s_simulation" >
        <input class="number_simulation" type="number" name="int_simulation" placeholder="Nombre de trajets à générer">
    </form>
    <span class="status_sim">
        <p id="status_generation">Simulation terminée !</p>
        <p id="trajet_fin">0/{{91}} trajets terminés</p>
    </span>
    <div class="box_map"> 
        <div id="map"></div>
    </div>
    <!-- <button id="clean">Remove</button> -->
    <div class="arrow">
        <button id="previous">- 10 min <<</button>
        <p id="display_num_tick">1/{{len_tick}} ticks</p>
        <button id="next">>> + 10 min</button>
    </div>
    <div class="legende">
        <h3>Légende :</h3>
        <span>
                <span class="bloc_img">
                <img src="/static/javascript/point_orange.png" alt="">
                <p> : Borne occupée sans fil d'attente</p>
                </span>
                <span class="bloc_img">
                    <img src="/static/javascript/point_rouge.png" alt="">
                    <p> : Borne occupée avec fil d'attente</p>
                </span>
        </span>
    </div>
    <script src="/static/javascript/simulation.js"></script>
    <script>
          
        document.addEventListener('DOMContentLoaded', function() {
            affichageMap();   
            addVector(2.471829, 46.677531);  
            addVector(3.471829, 43.677531)  ; 
            var table_simulation = {{table|tojson}};
            importSimulation(table_simulation,{{len_tick}});
            var num_de_trajet = 0;
            num_de_trajet = itinerary_ending(table_simulation);
            document.getElementById("trajet_fin").innerHTML = "0/"+num_de_trajet+" trajets terminés"
   
        });    
    </script>         


</body>
</html>