<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/simulation.css" />
    <title>Mode Simulation</title>
</head>
<body>
    <div class="box_title">
        <div></div>
        <h1 class="main_title">FindMyWay - Mode Simulation</h1>
        <div><a href="/">Mode itinéraire</a></div>
    </div>
    <div class="box_map">
        <div id="map"></div>
      </div>
    <script src="/static/javascript/simulation.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            affichageMap();          
        });    
    </script>         

</body>
</html>